<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishProtocol>Ssh</PublishProtocol>
    <Configuration>Debug</Configuration>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <PublishUrl>linaro@10.180.199.143:/home/linaro/AuroraStruct3D.DbMigrator</PublishUrl>
  </PropertyGroup>
</Project>
