<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- 包源定义 -->
    <packageSources>
        <!-- 官方 NuGet 源 -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

        <!-- abp-vnext-pro 私有  NuGet 源 -->
        <add
            key="abp-vnext-pro"
            value="https://packages.aliyun.com/686f32226024b2147d8a13f5/nuget/abp-vnext-pro/index.json"
        />
    </packageSources>

    <!-- 包源凭据配置 -->
    <packageSourceCredentials>
        <!-- abp-vnext-pro 私有  NuGet 源 -->
        <abp-vnext-pro>
            <add key="Username" value="686f31e7a9444359a97eaa89" />
            <!-- 避免明文存储密码，使用环境变量或凭据管理器 -->
            <add key="ClearTextPassword" value="eY2==WAEdU-Z" />
        </abp-vnext-pro>
    </packageSourceCredentials>
</configuration>
